.ingredientes-container {
  display: grid;
  grid-template-columns: 2fr 1fr; /* Ingredientes ocupam mais espaço */
  gap: 20px; /* Espaço entre as colunas */
  max-width: 800px;
  margin: 0 auto; /* Centraliza a seção na página */
}
/*Modo de preparo */
.ingredientes h3 {
  font-size: 1.5rem;
  color: #333; /* Ajuste a cor conforme necessário */
  margin-top: 35px;
  text-transform: uppercase;
  padding-left: 570px;
}

.ingredientes ul {
  padding-left: 20px; /* Para um pouco de espaço à esquerda da lista */
}

.ingredientes li {
  margin-bottom: 10px;
  line-height: 1.5; /* Espaçamento entre as linhas */
}

.info-adicional {
  font-size: 0.9rem;
  color: #555; /* Cor do texto secundário */
  text-align: right; /* Alinha à direita */
}

.info-adicional p {
  margin: 5px 0; /* Espaçamento entre as linhas */
}

.info-adicional strong {
  font-weight: bold;
  color: #000; /* Cor dos títulos das informações */
}
